.navbar{
    border-bottom: 10px solid rgb(128, 128, 128) !important;
    padding: 10px;
    margin-bottom: 10px;
}

.navbar ul{
    text-decoration: underline !important;
    color: black;
}

.navbar a{
    font-size: 2.5vw;
}